@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
  

.header {
  padding: 30px;
  text-align: left;
  background: rgb(235, 222, 235);
  color: rgb(51, 51, 51);
  font-size: 20px;
}
  
.nav {
    overflow: hidden;
    background-color: rgb(236, 210, 243);
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: rgb(244, 236, 240);
    border: 1px solid rgb(234, 229, 229);
}

li{
    float: left;
}

li a{
    text-align: center;
    display:block;
    color: rgb(188, 147, 188);
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: rgb(230, 251, 254);
}


.flex-container{
    margin: 0px;
    display:flex;
    flex-direction:column;
    background-color: white;
    gap: 10px; /* 자식요소간의 간격 */
}

.flex-item{
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(245, 222, 249);
    font-size: 40px;
    text-align: center;
}

.img{
    width: 300px;
    height: 300px;
}


.footer{
    width: 100%;
    clear: both;
    text-align: center;
    background: white;
    padding: 5px;
}

.img-wrapper{
    text-align: center;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.footer img{
    width: 40px;
    height: 40px;
    float: right;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%; /* 그림을 둥글게*/
    ;
 }

.footertext{
    font-size: 15px;
    padding: 10px;
}